.button {
  background-color: $color-button;
  color: $color-button-text;
  cursor: pointer;
  @extend %transition;
  border: none;
  font-size: 1.6rem;
  padding: 5px 10px;

  @include media-hover {
    &:hover {
      color: $color-light;
    }
  }
}
