.button {
  background-color: $color-button;
  color: $color-button-text;
  cursor: pointer;
  @extend %transition;
  border: none;
  font-size: 1.6rem;
  padding: 5px 10px;

  @include media-hover {
    &:hover {
      color: $color-light;
    }
  }

  &_display-grid {
    width: 44px;
    border: 1px solid $color-button;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
    @include media-hover {
      &:hover {
        .square {
          background-color: $color-light;
        }
      }
    }
    @include media-store-header-pretablet {
      width: 30px;
      height: 30px;
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  &_display-list {
    display: flex;
    border: 1px solid $color-button;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2px;
    @include media-hover {
      &:hover {
        .line {
          background-color: $color-light;
        }
      }
    }
    @include media-store-header-pretablet {
      width: 30px;
      height: 30px;
      padding-left: 7px;
      padding-right: 7px;
    }
  }

  &_product {
    width: 130px;
    border-radius: 2px;
    color: $color-product-button-text;
    background: #6fa720;
    background: -webkit-linear-gradient(top, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
    background: linear-gradient(to right, #75b022 5%, #588a1b 95%);
    @include media-hover {
      &:hover {
        background: linear-gradient( to right, #8ed629 5%, #6aa621 95%)
      }
    }
  }

  &_filter {
    @include media-tablet {
      font-size: 1.5rem;
      padding: 4px 6px;
      
    }
  }

  &_active {
    border: 1px solid $color-light;
  }

  &_pagination {
    border-radius: 5px;
  }

  &_count-change {
    border-radius: 5px;
    height: 28px;
    min-width: 28px;
  }

  &_cart {
    width: 170px;
    height: 50px;
    font-size: 2rem;
  }

  &_add-to-cart {
    width: 130px;
    @include media-product-list-laptop-breakpoint {
      width: 81px;
      font-size: 1.2rem;
    }
  }

  &_modal {
    width: 300px;
    height: 50px;
    font-size: 3rem;
    border-radius: 5px;
  }
}

