.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  @extend %transition;
  column-gap: 5px;

  @include media-hover {
    &:hover {
      filter: brightness(10);
    }
  }
}

.logo__title {
  font-size: 2rem;
}

.logo__img {
  height: 30px;
  border-radius: 5px;
}
