.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px;
  border: 1px solid;
}

.product__image {
  width: 150px;
  height: 75px;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 75px;
}

.product__add {
  padding-right: 10px;
}