.product-list {
  flex: 1;
}

.product-list__header {
  display: flex;
  justify-content: space-around;
}

.product__tags {
  display: flex;
  column-gap: 10px;
}

.product__tag {
  border: 1px black solid;
  padding: 3px;
}