.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  background-color: $color-secondary;
}

.product__image {
  width: 192px;
}

.product__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.6rem;
  row-gap: 5px;
  padding: 5px 0;
  flex-basis: 50%;
}

.product__add {
  padding-right: 10px;
}

.product__tags {
  display: flex;
  column-gap: 10px;
  font-size: 1.3rem;
}

.product__tag {
  border: 1px solid $color-text;
  padding: 3px 5px;
}

.product__rating img {
  width: 20px;
}

.product__price {
  font-size: 1.6rem;
}