.product-list {
  flex: 1;
}

.product-list__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color-product-list-header;
  padding: 10px;
}

.product-list__main {
  overflow: overlay;
  height: 550px;
  &_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    align-content: baseline;
    .product {
      flex-direction: column;
      width: 23%;
      min-height: 210px;
      max-height: 270px;
      padding-bottom: 10px;
      @include media-product-list-laptop-breakpoint {
        max-height: 170px;
      }
      @include media-tablet {
        min-height: auto;
        padding: 0;
        max-height: 115px;
      }
      @include media-pre-mobile {
        width: 30%;
      }
      &__info {
        text-align: center;
        justify-content: center;
        row-gap: 0;
        padding: 0;
        flex-basis: content;
        @include media-tablet {
          display: none;
        }
      }
      &__price {
        @include media-tablet {
          display: none;
        }
      }
      &__rating {
        display: none;
      }
      &__image {
        width: 100%;
      }

      &__add {
        margin-top: 5px;
        padding: 0;
        @include media-tablet {
          margin: 10px 0;
        }
      }
    }

    .product__tags {
      display: none;
    }

    @include media-mobile-minimal {
      .button_add-to-cart {
        width: 80px;
        font-size: 1rem;
      }
    }
  }
}

.product-list__text {
  display: flex;
  align-items: flex-start;

  justify-content: center;
  font-size: 5rem;
  padding-top: 100px;
  height: 450px;
}

.product-list__open-filter {
  display: none;
  @include media-tablet-minimal {
    display: block;
  }
}

.product-list__select {
  padding: 5px 15px;
  font-size: 1.4rem;
  background-color: $color-select;
  color: $color-button-text;
  outline: none;
  border: none;
  cursor: pointer;

  option {
    &:hover {
      background-color: black;
    }
  }

  @include media-mobile {
    width: 50px;
  }
}

.product-list__matches {
  font-size: 1.6rem;
}

.matches__text {
  @include media-pre-mobile {
    display: none;
  }
}
.product-list__search {
  input[type="text"] {
    background-color: $color-button;
    color: $color-light;
    outline: none;
    border: 1px solid $color-dark;
    padding: 5px 10px;
    font-size: 1.4rem;
    border-radius: 5px;
    &:focus {
      border: 1px solid $color-light;
    }
    @include media-store-header-pretablet {
      width: 100px;
    }
    @include media-pre-mobile {
      width: 50px;
    }
  }
  ::placeholder {
    color: $color-light;
  }
}

.product-list__display {
  width: 90px;
  display: flex;
  justify-content: space-between;
  @include media-store-header-pretablet {
    justify-content: space-evenly;
  }
}
