.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal__body {
  cursor: default;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  background-color: $color-primary;
  color: $color-text;
  padding: 20px;
}

.modal__title {
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.modal__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.modal__input-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.modal__input {
  width: 70%;
  height: 20px;
  @extend %input;
}

.modal__warning {
  font-size: 2rem;
  color: $color-modal-warning;
  display: none;
  &_info {
    width: 25%;
    text-align: center;
  }

  &_active {
    display: block;
  }
}

.modal__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.card__title {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.card__data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100px;
  border-radius: 10px;
  background-color: $color-header-footer;
  padding: 20px 10px;
  row-gap: 10px;
}

.card__number-block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card__image {
    width: 40px;
    height: 26px;
    border-radius: 5px;
}

.card__info-block {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.6rem;
}

.card__input {
  font-size: 1.6rem;
  @extend %input;
  padding: 0;
  margin-left: 5px;
  border-radius: 2px;

}

.card__number {
    width: 75%;
}

.card__input-valid {
  width: 100px;
}

.card__input-cvv {
    width: 70px;
}