.footer {
  background-color: $color-header-footer;
  color: $color-header-text;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 2rem;
  }

  &__item {
    @extend %transition;
    @include media-hover {
      &:hover {
        color: $color-light;
      }
    }
  }
}

.rss-link {
  display: inline-block;
  width: 90px;
  height: 40px;
  background-image: url("https://rs.school/images/rs_school_js.svg");
  background-repeat: no-repeat;
  background-size: 110px 30px;
  background-position: center;
  border-radius: 5px;
  background-color: $color-header-text;
  @include media-hover {
    &:hover {
      background-color: $color-light;
    }
  }
}
