.header {
  background-color: $color-header-footer;
  color: $color-header-text;
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.header__logo {
  text-align: center;
}

.header__sum {
  flex-basis: 85%;
  text-align: end;
}

.header__cart {  
  flex-basis: 5%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}