$color-dark: black;
$color-light: white;
$color-header-footer: #171a21;
$color-scroll-thumb: #434953;
$color-scroll-thumb-hover: #4e5157;
$color-primary: #1b2838;
$color-header-text: #b8b6b4;
$color-text: #c7d5e0;
$color-button: rgba(103, 193, 245, 0.2);
$color-button-text: #67c1f5;
$color-secondary: #16202d;
$color-select: #192a38;
$color-product-list-header: #101822;
$color-product-button-text: #d2efa9;
$color-modal-warning: #f34545;