%transition {
  transition: all 0.5s ease;
}

%input {
  text-align: center;
  background-color: $color-button;
  border: 1px solid $color-button;
  color: $color-light;
  font-size: 2rem;
  padding: 5px 0;
  &:focus {
    border: 1px solid $color-light;
  }
  &::placeholder {
    color: $color-header-text;
  }
}